.Top-container{
  background-color: #eaf6f6;
  margin: 0 0 30px 0;
  position: relative;
  padding-top: 200px;
}
h1{
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
}
.um{
  font-size: 2rem;
  color: #66BFBF;
  font-weight:normal;
}
.vic{
  height: 20px;
}
body{
  margin: 0;
  text-align: center;
  font-style: 'Merriweather', serif;
}
.dev{
  height: 200px;
  position: relative;
  left: 50px;
  margin: 0;
}
.my{
  border-radius: 100%;
  height: 300px;
  width: 300px;

}
.my1{
  float: left;
  border-radius: 100%;
  width:25%

}
.Pro{
  text-decoration: underline;
}
.Top-cloud{
  position: absolute;
  top: 80px;
  right: 450px;
  width: 200px;
}
.Bottom-cloud{
position: absolute;
width: 200px;
}

.skill-row1{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;

}
.skill-row2{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;

}
.xy{
  margin: 100px auto 100px auto;
  width: 50%;
}
.black{
  color: #000000;
}
.poc{
  margin: 0 auto 0 auto;
  float: left;
  position: relative;
  left: 20px;
}
.bottom-container{
  background-color: #66bfbf;
  margin:0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.white{
  color: #ffffff;
  margin: 0;
}
.ul{
  margin-bottom: 0;
}

.contact-me{
  margin-bottom: 60px;
}
.fu{
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 60px;
}
.BUTTON_OBQ {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 20px;
   font-weight: 10px;
   padding: 5px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   position: relative;
   top: 20px;
}

.BUTTON_OBQ:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #66bfbf;
  border-width: 5px;
  width: 5%;
}
